// Include formidable form styles
// .frm_forms {
//   padding-bottom: 3rem;
  
//   @include breakpoint(medium) {
//     padding-bottom: rem-calc(60px);
//   }
// }

.frm_fields_container {
	@extend .grid-x;
  @extend .grid-margin-x;
}

.frm_top_container {
	position: relative;
}

.frm-g-recaptcha,
.vertical_radio {
  margin-bottom: rem-calc(30px);
  
  @include breakpoint(medium) {
    margin-bottom: rem-calc(40px);
  }
}

.fieldset.vertical_radio {
  @include breakpoint(medium down) {
    margin-top: rem-calc(40px);
    margin-bottom: rem-calc(40px);
  }
  
  @include breakpoint(medium) {
    margin-bottom: rem-calc(60px);
  }
}

.frm_button_submit {
  margin-top: 1rem;
  
	@include breakpoint(small only) {
		width: 100%;
	}
}

label,
.frm_primary_label {
  font-size: $form-label-font-size;

  @include breakpoint(medium) {
    font-size: rem-calc(20px);
  }
}

.frm_required {
  color: $form-label-color-invalid;
  font-size: $form-label-font-size;

  @include breakpoint(medium) {
    font-size: rem-calc(20px);
  }
}

.frm_screen_reader {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}

// Overwrite select2 styles
select,
.select2-top-container {
	margin-bottom: rem-calc(30px);
  
  @include breakpoint(medium) {
    margin-bottom: rem-calc(40px);
  }
}

.select2-container--default 
.select2-selection--single {
	margin-bottom: 0;
	position: relative;

	@extend select;

	.select2-selection__rendered {
		padding: 0;
		position: absolute;
		display: flex;
		align-items: center;
		top: 0;
		width: 100%;
		height: 100%;
	}

	.select2-selection__arrow {
		display: none;
	}
}

.select2-dropdown {
	border: $input-border;
}

.select2-results__option {
	padding: rem-calc(0 15px);
}

// Custom radio & checkboxes
.custom-radio {
	@include checkbox(radio);
}

.custom-checkbox {
	@include checkbox(checkbox);
}

// Text area counter
.textarea {
	&__container {
		position: relative;
		
		textarea {
			margin-bottom: 0;
			padding-bottom: 17px;
      min-width: 100%;

			@include breakpoint(large) {
				max-width: 722px;
			}
		}
	}
	
	&__counter {
		margin-bottom: $form-spacing;
		position: relative;
		text-align: right;
	}

}

.enquiry-form {
  &__fieldset {

    legend {
      @extend h2;
    }

    .frm_radio {
      @include breakpoint(medium) {
        &:nth-child(odd) {
          padding-right: rem-calc(5);
        }
  
        &:nth-child(even) {
          padding-left: rem-calc(5);
        }
      }

      label {
        margin: 0 0 rem-calc(10) 0;
        border: solid 1px $light-gray;
        position: relative;
        height: rem-calc(70);
        cursor: pointer;
      }

      input[type=radio] {
        opacity: 0;

        // highlight the span when checkbox is focused
        &:focus+span {
          outline: none;
          border: $input-border-focus;
          transition: $input-transition;
        }

        // change span colour when checkbox is checked
        &:checked+span {
          background-color: $primary-color;
          color: $white;
        }

        +span {
          padding: rem-calc(0 15px);
          display: flex;
          align-items: center;
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .frm_section_heading {
    padding-top: 0;
  }

  .custom-radio {
    .frm_primary_label {
      display: none;

      @include breakpoint(medium) {
        visibility: hidden;
        display: block;
      }
    }

    .frm_opt_container {
      @include breakpoint(medium) {
        margin-top: .5rem;
        margin-left: 2rem;
      }
    }
  }

  .inline-date {
    &.start {
      position: relative;

      @include breakpoint(medium) {
        padding-right: calc(33.33333% - 25%);

        &::after {
          content: "to";
          display: inline-block;
          position: absolute;
          right: 25px;
          bottom: 25px;
        }
      }
    }
  }

}