// Formidableforms error classes
.frm_error {
  color: $form-label-color-invalid;
  font-size: $input-error-font-size;
}

input[aria-invalid="true"] {
  border-color: $input-background-invalid;
  background-color: lighten($input-background-invalid, 40%);
}