.search {

  &__form {
    padding-left: rem-calc(20px);
    display: inline-flex;

    @include breakpoint(medium down) {
      display: none;
    }
  }

  &__field {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 10px;
    position: absolute;
    right: 0;
    width: 0;
    max-height: 35px;
    font-family: $body-font-family;
    transition: all 0.25s ease-out;
  }

  &__submit {
    margin: 0;
    border: solid 1px get_color(secondary);
    border-radius: 25px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    z-index: 1;
    transition: $button-transition;
    
    @include button-style(get_color(secondary), auto, $dark-gray);
  }
}
