.alt-bg {
  @include alt-bg-color();

  .card,
  .card__post-date {
    background-color: $white;
  }
}

$dirs: top, right, left, bottom;
@each $dir in $dirs {
  .padding-#{$dir}-0 {
    padding-#{$dir}: 0 !important;
  }
}