@mixin box-shadow() {
  &::before {
    content: "";
    box-shadow: inset 0 -155px 100px -60px rgba($black, .8);
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
  }
}

/**
  * @param: colour, the defalut is the secondary colour from the palette
  */
@mixin alt-bg-color($color: get-color(secondary)) {
  background-color: lighten($color, 8%);
}

/**
  * Custom checkbox/radio button
  * @param: type, radio or checkbox
  */
@mixin checkbox($type) {
  input[type=#{$type}] {
		opacity: 0;
		position: absolute;
	}

	.#{$type} {
    padding-left: rem-calc(30);
    position: relative;
    display: block;
  }
  
  .#{$type}::before {
		content: "";
		border: $input-border;
		display: inline-block;
		height: rem-calc(20);
    width: rem-calc(20);
    top: 6px;
    left: 0;
	}

	.#{$type}::after {
		content: "";
		background-color: $primary-color;
		border: solid 1px $primary-color;
		display: inline-block;
		height: 12px;
		width: 12px;
		top: 10px;
		left: 4px;
  }

  .#{$type}::before,
  .#{$type}::after {
    position: absolute;

    @if $type == radio {
      border-radius: 50%;
    }
  }
  
  // Hide the checkmark by default
	input[type=#{$type}] + .#{$type}::after {
		content: none;
	}

	// Unhide on the checked state
	input[type=#{$type}]:checked + .#{$type}::after {
		content: "";
	}

	// Adding focus styles on the outer-box of the fake checkbox
	input[type=#{$type}]:focus + .#{$type}::before {
		outline: rgb(59, 153, 252) auto 5px;
	}
}