.icon {
  font-size: rem-calc(17);
}

.entry-content .lead, 
.lead {
  font-family: $heading-font-family;
  font-size: map-deep-get($header-styles, small, h2, font-size) * 1px;
  line-height: $header-lineheight;
  
  @include breakpoint(medium) {
    font-size: map-deep-get($header-styles, medium, h2, font-size) * 1px; // 33px
  } 
}

.midlevel-page .lead {
  font-size: map-deep-get($header-styles, small, h3, font-size) * 1px;

  @include breakpoint(medium) {
    font-size: map-deep-get($header-styles, medium, h3, font-size) * 1px; // 25px
  }
}

.entry-content {
  $headings: h2;
  @each $heading in $headings {
    #{$heading} {
      font-size: map-deep-get($header-styles, small, #{$heading}, font-size) * 1px - 6px;
  
      @include breakpoint(medium) {
        font-size: map-deep-get($header-styles, medium, #{$heading}, font-size) * 1px - 8px; // 25px
      }
    }
  }

  h3 {
    font-size: map-deep-get($header-styles, small, h3, font-size) * 1px - 2px;

    @include breakpoint(medium) {
      font-size: map-deep-get($header-styles, medium, h3, font-size) * 1px - 2px; // 23px
    }
  }
}

// single post specific styles
.single {
  .lead {
    color: $primary-color;
  }

  .entry-content h2:not(.card__post-title) {
    border-bottom: solid 2px $primary-color;
    padding-bottom: .1em;
    display: inline-block;
  }
}
