/************************************************

Stylesheet: Global Resets

*************************************************/
.skip-to-content {
	color: $dark-gray;
}

/*********************
POSTS & CONTENT STYLES
*********************/
.page-title {

	// Remove Foundation vcard styling from author page titles
	.vcard {
		border: 0px;
		padding: 0px;
	}
}

// Entry content  
.entry-content {

	img {
		max-width: 100%;
		height: auto;
		margin-bottom: $global-margin;

		@include breakpoint(large) {
			margin-bottom: rem-calc(10px 0 30px);
		}
	}

	.alignleft,
	img.alignleft {
		margin-right: $global-margin;
		display: inline;
		float: left;
	}

	.alignright,
	img.alignright {
		margin-left: $global-margin;
		display: inline;
		float: right;
	}

	.aligncenter,
	img.aligncenter {
		margin-right: auto;
		margin-left: auto;
		display: block;
		clear: both;
	}

	.alignwide {
		margin-left: -80px;
		margin-right: -80px;
	}

	.alignfull {
		margin-left: calc(-100vw / 2 + 100% / 2);
		margin-right: calc(-100vw / 2 + 100% / 2);
		max-width: 100vw;
	}

	.alignfull img {
		width: 100vw;
	}

	video,
	object {
		max-width: 100%;
		height: auto;
	}

	pre {
		background: #eee;
		border: 1px solid #cecece;
		padding: 10px;
	}

}

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	// Images inside wp-caption  
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}
}

// Add Foundation styling to password protect button
.post-password-form input[type="submit"] {
	@include button;
}

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {
	li {
		list-style: none;
	}
}

.widget {
	ul {
		margin: 0;
	}
}

/*********************
FOOTER STYLES
*********************/
.footer {
	clear: both;
}

/*********************
VISUAL EDITOR STYLES
*********************/
// Makes content look better in visual editor
body#tinymce {
	margin: 20px;
}

/*********************
PLUGIN STYLES
*********************/
