$accordion-border: solid 1px $dark-gray;

.accordion-container {
  padding-top: 2rem;
  font-size: rem-calc(20px);
  
  @include breakpoint(medium) {
    padding: rem-calc(60px 0 30px);
  }
}

.accordion {

  :last-child:not(.is-active)>.accordion-title {
    border-bottom: $accordion-border;
  }

  :last-child>.accordion-content:last-child {
    border-bottom: $accordion-border;
  }

  
  &-title {
    text-decoration: none;
    border-bottom: $accordion-border;

    h3 {
      margin-bottom: 0;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 15%;
        right: 1rem;
        width: 20px;
        height: 20px;
        background: no-repeat 50%/contain;
        @include background-triangle($primary-color);
      }
    }
  }

  &-content {
    border-bottom: $accordion-border;
  }

  &-item {
    &.is-active {
      h3::after {
        transform: rotate(180deg);
      }
    }
  }
}