$transition: all 0.25s ease-out;

.blog-feed {
  padding: 2rem 0;

  @include breakpoint(medium) {
    padding: rem-calc(60px) 0 rem-calc(43px);
  }

  &--container {
    @include breakpoint(medium down) {
      margin: 0;
      flex-wrap: nowrap;
      justify-content: flex-start;
      overflow-x: scroll;
    }
  }

  &--title {
    margin-bottom: 1.5rem;

    @include breakpoint(medium) {
      margin-bottom: rem-calc(30px);
    }
  }
  
  
  &__post {
    text-align: left;
    margin-bottom: 2rem;
    color: $dark-gray;
    transition: $transition;
    
    &:focus, &:hover {
      color: lighten($dark-gray, 20%);

      img {
        filter: opacity(80%);
      }
    }

    &:last-child {
      article {
        @include breakpoint(medium down) {
          margin-right: 1rem;
        }
      }
    }

    &--category {
      padding-bottom: rem-calc(10px);
    }

    &--date {
      margin-top: rem-calc(10px);
      padding-bottom: rem-calc(5px);
      padding-right: rem-calc(10px);
      display: inline-block;
    }

    &--title {
      font-size: rem-calc(20px);
      font-weight: 600;
    }
    
    &--category,
    &--title {
      font-family: $body-font-family;
    }
    
    &--category,
    &--date {
      border-top: solid 1px get-color(secondary);
      padding-top: rem-calc(5px);
      font-weight: 700;
      font-size: rem-calc(15px);
      text-transform: uppercase;
    }

    &--category,
    &--title,
    &--date {
      margin-bottom: 0;
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    img {
      transition: $transition;
      
      @include breakpoint(medium down) {
        height: 162px;
      }

      @include breakpoint(medium) {
        max-height: 200px;
      }
    }
  }
}
