.callout {
  margin-bottom: 2rem;

  @include breakpoint(medium) {
    margin-top: rem-calc(30px);
    margin-bottom: rem-calc(80px);
  }

  &--border {
    border: 1px solid rgba($dark-gray, 0.25) ;
  }
  
  p {
    margin-bottom: 2rem;
    font-family: $heading-font-family;
    font-size: rem-calc(20px);
    line-height: 1.2;
    
    @include breakpoint(medium) {
      font-size: rem-calc(25px);
    }
  }
}