$dot-size: 15px;

.slick-container {
  margin: 1rem 0;

  figure {
    background: $dark-gray;
  }

  @include breakpoint(medium) {
    margin-top: 2rem;
  }

  @include xy-grid;

  &--single-item {
    .slick-slide {
      @include xy-cell(12);
      width: $global-width;

      figure {
        position: relative;
        display: flex;
        align-items: flex-end;
        height: 240px;
        overflow: hidden;

        @include breakpoint(medium) {
          height: 430px;

          @include breakpoint(landscape) {
            height: 300px;
          }
        }
        
        @include breakpoint(large) {
          height: 550px;
        }

        @include breakpoint(xlarge) {
          height: 700px;
        }

        @include box-shadow();
      }

      figcaption {
        padding: .5rem;
        position: absolute;
        bottom: 0;
        color: $white;
        font-weight: 600;
      }

      img {
        width: auto;

        @include breakpoint(large) {
          width: 100%;
        }
      }
    }
  }

  &--multi-item {
    margin: 0;

    @include breakpoint(large) {
      padding-top: rem-calc(20px);
    }
    
    .slick-track {
      @include breakpoint(medium) {
        // For params: https://foundation.zurb.com/sites/docs/xy-grid.html#xy-gutters
        @include xy-gutters($grid-margin-gutters, margin, right left, true);
      }
    }
    
    .slick-slide {
      margin-bottom: $global-padding*2;
      
      @include xy-gutters();

      @include breakpoint(small only) {
        width: 235px;
      }

      @include breakpoint(medium) {
        margin-bottom: rem-calc(50px);
      }
    }
  }
}

.slick__item {
  &--job-title {
    @extend .blog-feed__post--category;
  }

  &--name {
    @extend .blog-feed__post--title;
    font-weight: 500;
  }

  &--img {
    margin-bottom: 1rem;
  }
}

// Nav

.slick-nav {
  &--multi-item {
    @include breakpoint(small only) {
      display: none;
    }
  }
}

.slick-dots {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;

  .slick-active {
    button {
      opacity: 1;
    }
  }

  li {
    margin: 0 10px;
    padding: 0;
    position: relative;
    display: inline-block;
    width: $dot-size;
    height: $dot-size;
    cursor: pointer;

    button {
      background-color: $dark-gray;
      border: solid 1px $dark-gray;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      width: $dot-size;
      height: $dot-size;
      opacity: .25;
      font-size: 0; // Hides slick numbers
      color: $white;
      cursor: pointer;

      &:hover,
      &:focus {
        opacity: 1;
      }
    }
  }
}