$card-img-height: rem-calc(400px);
$transition: all 0.25s ease-out;

.card {
  transition: $transition;

  &:focus, &:hover {
    color: lighten($dark-gray, 20%);

    .card-header {
      box-shadow: none;

      &--full-width {
        box-shadow: none;
      }
    }

    .card__img {
      box-shadow: none;
    }
  }

  &-header {
    background: $dark-gray center/cover no-repeat;
    box-shadow: inset 0 -155px 100px -60px rgba($black, .8);
    padding: $global-padding rem-calc(23px);
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    height: $card-img-height/1.5;
    color: $white;
    transition: $transition;

    @include breakpoint(large) {
      height: $card-img-height;
    }
  
    h2 {
      margin-bottom: 0;
      line-height: 1;
      
      @include breakpoint(large) {
        margin-right: 4rem;
      }
    }

    &--full-width {
      background: none;
      box-shadow: none;
      display: block;
      height: auto;
      color: inherit;

      @include breakpoint(small only) {
        display: none;
      }
    }
  }

  &-section {
    h2 {
      margin-bottom: .7rem;
    }

    p {
      margin-bottom: .5rem;
    }

    &--large-text p {
      margin-bottom: rem-calc(20px);
      font-family: $header-font-family;
      font-size: rem-calc(20px);
      line-height: 1.2;

      @include breakpoint(large) {
        font-size: rem-calc(25px);
      }
    }
  }

  &__img {
    background: $dark-gray center/cover no-repeat;
    height: $card-img-height/2;

    @include breakpoint(medium) {
      height: $card-img-height;

      h2 {
        display: none;
      }
    }
  }

  &__post {
    transition: $transition;

    &:focus, &:hover {
      color: lighten($dark-gray, 20%);

      img {
        filter: opacity(80%);
      }
    }

    a {
      height: 100%;
    }
  }

  &__post-img {
    position: relative;
    
    img {
      width: 100%;
      max-height: 270px;
      transition: $transition;
    }
  }

  &__post-date {
    background-color: $card-background;
    padding: .2em 1.3rem;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: rem-calc(14px);
    font-weight: 700;
    text-transform: uppercase;
  }

  &--full-width {
    @include breakpoint(medium) {
      .card-header {
        box-shadow: none;
      }
    }

    .card-header {
      background-position: center bottom;
    }

    .card-section {
      flex: none;
    }
  }

  &--third-width {
    .card-section {
      h2 {
        display: none;
      }
    }
    
    @include breakpoint(small only) {

      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      .card-header {
        width: 45%;
        box-shadow: none;
        flex: 1 0 auto;

        h2 {
          display: none;
        }
      }

      .card-section {
        flex: 0 auto;
        padding: 1rem;

        h2 {
          display: block;
          font-size: rem-calc(20px);
        }
      }

      .venue-details {
        font-size: rem-calc(14px);
      }

      article {
        display: flex;
        flex-flow: row nowrap;
      }

      p {
        font-size: rem-calc(16px);
      }
    }
  }

  &.cell {
    @include breakpoint(small only) {
      margin-right: 0;
      margin-left: 0;
    }
  }


  a {
    color: inherit;
    text-decoration: none;
  }
}