#comments {
	.commentlist {
		margin-left: 0px;
	}
}

#respond {
	ul {
		margin-left: 0px;
	}
}

article[id*=comment-] {
	border-bottom: solid 1px $light-gray;
}

.comments-title {
  margin-bottom: 0;
  border-bottom: solid 1px $light-gray;
  padding: 1.5rem 0;
}

.commentlist {
	li {
		margin-bottom: 1.5em;
		padding: 0 0 0.7335em;
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;

		&:last-child {
			margin-bottom: 0;
		}

		.comment-author h3 {
			margin-bottom: .1em;
		}
	
		.comment_content p {
			margin-top: 0;
		}
	
		.media-object {
			padding-bottom: 0;

			.media-object-section:first-child {
				padding-right: 1.2rem;
			}

			img {
				border-radius: 50%;
			}
		}

		ul.children {
			margin: 0;
		}
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-left: calc(75px + 1rem);
		margin-top: 0;
		padding-bottom: 0;
	}

	// vcard  
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;
		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
		}

	}

	.comment-reply-link {
		@extend .button;
		@extend .secondary;
		@extend .small;
		
		font-family: $body-font-family;
		text-transform: uppercase;
	}
} 