.eupopup {
  
  &-container {
    background-color: $dark-gray;
    
    @include breakpoint(large) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &-closebutton {
    text-decoration: none;
  }
  
  &-head {
    display: none;
  }

  &-body {
    color: $white;
    font-size: 1rem;
    
    @include breakpoint(large) {
      margin-right: 2rem;
    }

    p {
      margin-bottom: 0;
      font-size: rem-calc(17);
    }

    a {
      color: $white;
      text-decoration: underline;
    }
  }

  &-button_1 {
    @extend .button;
    @extend .secondary;
    @extend .small;
    margin-bottom: 0;
    margin-right: 2rem;
  }

  &-button_2 {
    margin: 0;
    font-size: .85rem;
    color: $white;
    text-decoration: underline;

    &:hover, &:focus {
      color: $white;
    }
  }
}