.event-management {
  padding: 2rem 0;

  @include breakpoint(medium) {
    padding: rem-calc(48px 0 31px);
  }

  @include alt-bg-color();

  p {
    margin-bottom: 1rem;

    @include breakpoint(medium) {
      margin-bottom: rem-calc(22px);
      font-size: rem-calc(20px);
    }
  }
}

.parent-pageid-31 {
  .event-management {
    background-color: $white;
  }
}