.gallery__container {
	padding-bottom: 2rem;

	@include breakpoint(medium) {
		padding-bottom: rem-calc(60px);
	}

	h2 {
		@include breakpoint(medium) {
			margin-bottom: rem-calc(56px);
		}
	}

	p {
		margin: 0;

		@include breakpoint(medium) {
			font-size: rem-calc(20px);
		}
	}
}

.gallery {
	margin: .5rem 0 1.5rem;
	display: flex;
	flex-flow: row wrap;

	@include breakpoint(medium) {
		margin: rem-calc(0 0 60px);
	}
}

.gallery__item {
	background: $dark-gray;
	margin: 2px;
	position: relative;
	width: 48%;
	height: 205px;
	overflow: hidden;

	@include breakpoint(large) {
		width: 33%;

		&--shadow {
			@include box-shadow();
		}
	}

	img {
		width: 100%;
	}
}

.gallery__caption {
	padding: .5rem;
	position: absolute;
	bottom: 0;
	color: $white;
	font-weight: 600;
	text-align: left;

	@include breakpoint(medium down) {
		display: none;
	}
}

// Progressive enhancement for browsers that support css grid
@supports(display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(3, 1fr [col-start]);
		grid-template-rows: repeat(4, 1fr [row-start]);
		grid-template-areas: 
			"big-img-1 big-img-1 small-img-1"
			"big-img-1 big-img-1 small-img-2"
			"small-img-3 big-img-2 big-img-2"
			"small-img-4 big-img-2 big-img-2";
		grid-gap: 2px;

		@include breakpoint(medium) {
			grid-template-columns: repeat(2, 1fr [col-start]) repeat(2, 132px [col-start]) repeat(2, 1fr [col-start]);
			grid-template-rows: repeat(5, 50px [row-start]);
			grid-template-areas: 
				"big-img-1 big-img-1 massive-img-1 massive-img-1 small-img-1 small-img-2"
				"big-img-1 big-img-1 massive-img-1 massive-img-1 small-img-1 small-img-2"
				"big-img-1 big-img-1 massive-img-1 massive-img-1 big-img-2 big-img-2"
				"narrow-img-1 narrow-img-1 massive-img-1 massive-img-1 big-img-2 big-img-2"
				"narrow-img-1 narrow-img-1 massive-img-1 massive-img-1 big-img-2 big-img-2"
			;
		}

		@include breakpoint(large) {
			grid-template-columns: repeat(2, 1fr [col-start]) repeat(2, 237px [col-start]) repeat(2, 1fr [col-start]);
			grid-template-rows: repeat(5, 95px [row-start]);
		}
	}

	.gallery__item {
		margin: 0;
		display: flex;
		width: auto;
		height: auto;

		&:first-child {
			grid-area: big-img-1;
		}

		&:last-child {
			grid-area: big-img-2;
		}

		@include breakpoint(medium) {
			&:nth-child(2) {
				grid-area: narrow-img-1;
			}

			&:nth-child(3) {
				grid-area: massive-img-1;
			}

			&:nth-child(4) {
				grid-area: small-img-1;
			}

			&:nth-child(5) {
				grid-area: small-img-2;
			}
		}

		img {
			flex-grow: 1;
			margin: 0;
			width: auto;
		}
	}
}