$hero-height: 55.65vh;
$header-height: 90px; // 90px is the height of the header on small screens
$background: $dark-gray url('../../assets/img/C&e\ launch\ web\ header_V1-01.png') center/cover no-repeat;

.hero {
  padding: rem-calc(30px) 0;
  position: relative;
  font-size: rem-calc(20px);

  &--background {
    background: $dark-gray url('../../assets/img/Mobile\ responsive\ fireworks-01.png') center/cover no-repeat;
    padding: map-get($grid-container-padding, small)/2 0;
    position: relative;
    height: calc(75vh - #{$header-height});
    
    @include breakpoint(medium) {
      background: $background;
      padding: rem-calc(35) 0 1.5rem;
      height: $hero-height/1.5;

      @include breakpoint(landscape) {
        height: calc(100vh - #{$header-height});
      }
    }

    @include breakpoint(medium only) {
      @include breakpoint(landscape) {
        h1 {
          font-size: rem-calc(45);
        }
      }
    }

    @include breakpoint(large) {
      height: $hero-height*.71;
    }

    // &::before {
    //   content: "";
    //   background-color: rgba($dark-gray, .7);
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   display: block;
    //   width: 100%;
    //   height: 100%;
    //   z-index: 1;
    // }
  
    h1, p {
      color: $white;
    }
    
    h1 {
      margin: 0 auto;
      border-bottom: 6px solid $primary-color;
      padding-bottom: rem-calc(10px);
      display: inline-table;
      line-height: 1.2;
      text-transform: uppercase;
      // margin-bottom: rem-calc(38px);
    }
  }

  &--background-home {
    margin-bottom: rem-calc(30px);
    height: calc(100vh - #{$header-height});
    overflow: hidden;

    @include breakpoint(small only) {
      flex-flow: column;
      justify-content: flex-end;
    }

    @include breakpoint(medium) {
      margin-bottom: rem-calc(60px);
      height: $hero-height;
      
      @include breakpoint(landscape) {
        height: calc(100vh - #{$header-height});
      }
    }

    @include breakpoint(large) {
      height: $hero-height;
    }

    @include breakpoint(xlarge) {
      height: 66.65vh;
    }

  }

  &--background-details {
    background: $background;
    box-shadow: inset 0 155px 100px -60px rgba($black, .8);
    margin-bottom: 1.2rem;
    height: calc(100vh - #{$header-height});

    @include breakpoint(medium) {
      box-shadow: inset 0 -155px 100px -60px rgba($black, .8);
      margin-bottom: 2rem;
      height: $hero-height;

      @include breakpoint(landscape) {
        height: calc(100vh - #{$header-height});
      }
    }

    @include breakpoint(large) {
      height: $hero-height;
    }

    .grid-container {
      height: 100%;
    }

    .button {
      @include breakpoint(medium down) {
        margin: 0;
  
        &:nth-child(2) {
          margin-top: .7rem;
        }
      }
    }

    h1, .button {
      margin-bottom: 0;
    }

    h1 {
      color: $white;

      @include breakpoint(medium down) {
        align-self: flex-start;
      }
    }
  }

  &__content {
    height: 100%;
    
    &--center {
      @include xy-grid(vertical);
      justify-content: center;
      z-index: 1;
    }

    &--end {
      @include xy-grid(vertical);
      justify-content: flex-end;
      z-index: 1;
    }

    &--details {
      justify-content: space-between;

      @include breakpoint(medium) {
        
        @include xy-grid(horizontal);
        align-items: flex-end;
      }
    }

    @include breakpoint(small only) {
      &--column-home {
        @include xy-grid(vertical);
        justify-content: flex-end;
      }
  
      &--home {
        height: 75%;
  
        h1 {
          flex: 1 0 auto;
        }
      }
    }
  }
}