$grid-margin: rem-calc(map-get($grid-margin-gutters, medium)/2);

.panels {
  padding: 2rem 0 0;
  margin-bottom: 2rem;

  @include breakpoint(medium) {
    padding: rem-calc(60px) 0 rem-calc(65px);
    margin-bottom: 3rem;
  }

  // Overwrite grid-margin class to create an offset
  @include breakpoint(large) {
    .panels__row--left>.panels__row--content {
      padding-right: calc(7% + #{$grid-margin});
      padding-left: calc(2.5% + #{$grid-margin});
    }

    .panels__row--right>.panels__row--content {
      padding-left: calc(7% + #{$grid-margin});
      padding-right: calc(2.5% + #{$grid-margin});
    }

  }

  p {
    margin-bottom: rem-calc(30px);
    font-size: rem-calc(20px);
  }

  &__intro {
    padding: 1rem 0;

    @include breakpoint(medium) {
      padding-bottom: 2rem;
    }
  }

  &__row {
    padding-bottom: 2.5rem;
    justify-content: space-between;

    &:last-child {
      padding-bottom: 0;
    }

    @include breakpoint(large down) {
      margin-right: 0 !important; // Important tag to overwrite Foundation default causing overflow
      margin-left: 0 !important; // Important tag to overwrite Foundation default causing overflow
    }

    @include breakpoint(medium) {
      padding-bottom: rem-calc(60px);
    }

    &--content {
      @include breakpoint(small only) {
        order: 2;
      }

      @include breakpoint(medium) {
        font-size: rem-calc(20px);
      }
    }

    &--image {
      @include breakpoint(small only) {
        margin-bottom: .75rem;
        order: 1;
      }
    }

    &--content,
    &--image {
      @include breakpoint(medium down) {
        padding-right: 0 !important; // Important tag to overwrite Foundation default causing overflow
        padding-left: 0 !important; // Important tag to overwrite Foundation default causing overflow
      }
    }
  }

  &--external {
    .panels__row--content {
      h2 {
        border-top: solid 1px $blue;
        padding-top: 1rem;
        padding-left: 0;
      }

      p {
        margin-bottom: rem-calc(40px);
        font-size: initial;
      }
    }

    .button {
      background-color: $blue;

      &:hover {
        background-color: scale-color($blue, $lightness: -15%);
      }
    }
  }
}
