$scroll-margin: rem-calc(map-get($grid-margin-gutters, medium)/2);

.tabs-container {
  padding: rem-calc(34 0);

  @include breakpoint(medium) {
    padding: rem-calc(60) 0;
  }

  h2 {
    margin-bottom: rem-calc(34);

    @include breakpoint(medium) {
      margin-bottom: rem-calc(50) 
    }
  }

  @include breakpoint(small only) {
    .grid-margin-x {
      margin: 0;
    }
  }
}

.tabs-wrapper.cell {
  @include breakpoint(small only) {
    width: 100%;
  }
}

.tabs {
  
  @include breakpoint(small only) {
    display: flex;
    overflow-x: scroll;
  }

  @include breakpoint(medium) {
    @include tabs-container-vertical();
  }

  &-title {
    background: lighten(get-color(primary), 50%);
    margin: 0 .25rem;

    @include breakpoint(small only) {
      display: inline-block;
      float: none;

      &:first-child {
        margin-left: $scroll-margin;
      }

      &:last-child {
        margin-right: $scroll-margin;
      }
    }

    @include breakpoint(medium) {
      margin: 0 0 .3rem;
    }

    a {
      text-decoration: none;

      @include breakpoint(small only) {
        padding: rem-calc(17);
      }
    }

    strong {
      font-weight: 600;
    }
  }

  &-panel {
    @include breakpoint(small only) {
      padding: rem-calc(25.5 0 0);
    }

    @include breakpoint(medium only) {
      padding-right: 0;
    }
  }

  &-content {
    h4 {
      margin-bottom: .5rem;
      font-family: $body-font-family;
      font-size: 100%;
      font-weight: 600;
    }
  }

  h3 {
    margin: 0;
    font-family: $body-font-family;
    font-size: rem-calc(20px);
  }
}