$transition: all 0.25s ease-out;

.header {
  font-family: $heading-font-family;

  @include alt-bg-color();
}

// Top bar
.top-bar {
  position: relative;

  @include breakpoint (medium down) {
    flex-flow: row wrap;
  }

  .top-bar-right {
    text-align: right;
    flex-flow: column;

    @include breakpoint(medium down) {
      margin: 0 auto;
      padding-top: rem-calc(25.5);
      display: flex;
      flex-flow: column-reverse;
    }

    nav, p {
      display: inline-block;

      @include breakpoint(medium down) {
        width: 100%;
        text-align: center;
      }
    }
  }

  input {
    margin: 0;
    max-width: none;
  }
}

// Navs
.secondary-nav {
  $secondary-nav-padding: .3rem rem-calc(20);

  @include breakpoint(large) {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;
  }

  p, a {
    margin-bottom: 0;
    color: $dark-gray;

    &:focus, &:hover {
      color: $dark-gray;
    }

    @include breakpoint(large) {
      font-size: rem-calc(16);
    }

    @include breakpoint(xlarge) {
      font-size: rem-calc(17);
    }
  }

  
  &__container {
    @include breakpoint(large) {
      margin-bottom: rem-calc(12);
      justify-content: flex-end;
    }

    @include breakpoint(xlarge) {
      margin-bottom: rem-calc(15);
    }
  }
  
  .menu {
    @include breakpoint(medium only) {
      display: inline-block;
    }
  }

  .menu-item {
    @include breakpoint(large) {
      border-right: 1px solid get-color(secondary);
    }

    a {
      text-decoration: underline;
    }
  }

  .nav-button-wrapper {
    text-align: center;

    @include breakpoint(large) {
      border-right: 1px solid get-color(secondary);
      padding-right: rem-calc(20px);
      display: inline-block;
    }
  }

  .menu-item a,
  &__tel {
    padding: $secondary-nav-padding;
    transition: $transition;

    @include breakpoint(large only) {
      padding-left: rem-calc(13.6);
      padding-right: rem-calc(13.6);
    }
  }

  .button {
    margin-bottom: 0;
    // font-size: 1rem;

    @include breakpoint(medium down) {
      margin-top: rem-calc(17);
    }

    @include breakpoint(small only) {
      display: block;
    }
  }
}

.primary-nav {
  
  @include breakpoint(medium down) {
    margin-bottom: rem-calc(17);
  }

  .menu-item {
    padding: $global-menu-padding;

    @include breakpoint(medium down) {
      width: 100%;
      border-bottom: solid 1px $light-gray;
    }

    @include breakpoint(large) {
      padding-right: 0;
      padding-left: rem-calc(20);
      font-size: rem-calc(18);
    }

    @include breakpoint(xlarge) {
      padding-left: rem-calc(30);
      font-size: rem-calc(20);
    }

    a {
      padding: 0;
      position: relative;
      color: $dark-gray;
      text-transform: uppercase;

      @include breakpoint(large) {
        &::after {
          content: '';
          position: absolute;
          background: $primary-color;
          height: 2px;
          right: 100%;
          left: 0;
          bottom: -.2em;
          opacity: 0;
          transition: $transition;
        }
  
        &:focus::after,
        &:hover::after {
          opacity: 1;
          right: 0;
        }
      }
    }
  }
}

//  Menu
.menu {
  @include breakpoint(medium down) {
    align-items: center;
  }

  a {
    transition: $transition;
  }
}

.menu .current-page-ancestor > a, 
.menu .active > a, 
.menu .is-active > a {
  @include breakpoint(large) {
    &::after {
      right: 0;
      opacity: 1;
    }
  }
}

// Prevent FOUC https://foundation.zurb.com/sites/docs/responsive-navigation.html#preventing-fouc
.no-js {
  @include breakpoint(medium down) {
    .top-bar-right {
      display: none;
    }
  }

  @include breakpoint(large) {
    .menu-icon {
      display: none;
    }
  }
}