.button-group {
  
  @include breakpoint(medium down) {
    overflow: scroll;
  }

  @include breakpoint(large) {
    flex-wrap: wrap;
  }
}

.button {
  font-family: $heading-font-family;
  text-decoration: none;

  &.small {
    padding:  0.5em 1.1em;
  }

  &.is-active,
  &.is-active:focus {
    background-color: $primary-color;
    color: $white;

    &:hover {
      background-color: scale-color($button-background, $lightness: -15%);
      color: $white;
    }
  }
}

// Class for styling the infinite scroll button & loader
#infinite-handle {
  @extend .cell;
  @extend .small-12;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  span {
    margin-bottom: 2rem;
    @extend .button;
    @extend .secondary;
  }
}

.infinite-loader {
  position: absolute;
  bottom: 0;
  left: 50%;
}