.byline {
  border-bottom: solid 1px $light-gray;
  padding: 1.5rem 0 1rem;

  @include xy-grid;
  justify-content: space-between;

  @include breakpoint(large) {
    font-size: rem-calc(20px);
    padding: rem-calc(40px 0 30px)
  }

  p, a {
    margin-bottom: 0;
    color: inherit;
  }
}