.site-logo {
  background: url('../img/CE-lock-up.svg') center/contain no-repeat;
  width: 280px;
  height: 40px;
  color: $dark-gray;

  @include breakpoint(374px down) {
    width: 240px;
  }
  
  @include breakpoint(medium) {
    width: 350px;
  }

  // @include breakpoint(xlarge) {
  //   width: 418px;
  //   height: 47px;
  // }
}