#map{
  width: 100%;

  @include breakpoint(small only) {
    display: none;
  }

  @include breakpoint(medium) {
    @include breakpoint(portrait) {
      height: 350px;
    }
    
    @include breakpoint(landscape) {
      display: none;
    }
  }

  @include breakpoint(large) {
    display: block;
    height: 650px;
  }
}

.map {
  &__content {
    @include breakpoint(medium) {
      margin-bottom: rem-calc(80px);
    }
  }

  &__marker {
    background-image: url('../../assets/images/marker-editor.svg');
    background-size: cover;
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }

  &__details {
    padding: 0 0 1.5rem;
    position: relative;
    line-height: 1.2; // Make line height same as height of icon to vertically centralise text

    @include breakpoint(large) {
      padding: 1.5rem 0 3rem;
    }

    &--icon {
      // TODO: Once icons are finalised add them here
      &::before {
        content: "";
        background-image: url('../../assets/images/marker-editor.svg');
        background-size: cover;
        margin: 0 .5em .5em 0;
        width: 35px;
        height: 35px;
        float: left;
      }
    }
  }
}