.page-template-template-event-management .media-object {
  @include breakpoint(large) {
    margin: 0;
    padding: rem-calc(100px 0 70px);
  }
}

.media-object {
  padding-top: 1rem;

  @include breakpoint(medium) {
    padding: $mediaobject-section-padding 0 1rem;
  }
}

.media-object-section {
  @include breakpoint(small only) {
    &:first-child {
      padding-right: $mediaobject-section-padding/2;
    }

    img {
      width: 120px;
    }
  }

  @include breakpoint(large) {
    padding-right: rem-calc(50px);
  }
}