// Hamburger icon https://foundation.zurb.com/sites/docs/sass-mixins.html#hamburger
.menu-icon {
  @include hamburger($dark-gray, $dark-gray, 25px);

  &.active {
    margin-top: 15px;

    &::after {
      transform: rotate(45deg);
      box-shadow: none;
    }
  
    &::before {
      content: '';
      background: #403c42;
      transform: rotate(-45deg);
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
    }
  }

}