.table-container {
  .cell {
    @include breakpoint(small only) {
      overflow-x: scroll;
    }
  }

  caption {
    padding-left: 0;
    padding-right: 0;
    text-align: left;
  }

  table {
    margin-bottom: 2rem;
  }

  thead {
    border-bottom: solid 1px get-color(primary);
  }

  th, td {
    text-align: center;

    &:first-child {
      text-align: left;
    }
  }
}