.slick-container--testimonial {
  padding: $global-padding*2 0;

  @include breakpoint(medium) {
    padding: rem-calc(50px 0);
  }
}

.testimonials {
  padding: $global-padding*2 0;

  @include breakpoint(medium) {
    margin: rem-calc(80px 0 0);
    padding: rem-calc(60px 0);
  }

  &__img img {
    margin-bottom: $global-padding;
    width: 345px;
    height: 230px;

    @include breakpoint(medium) {
      width: 400px;
      height: 270px;
    }
  }

  &__quote {
    font-style: italic;
    font-size: rem-calc(20px);

    @include breakpoint(small only) {
      padding-left: 0;
    }

    cite {
      font-size: rem-calc(20px);

      &::before {
        display: none;
      }
    }
  }

  .slick-initialized .slick-slide {
    display: flex;
  }
}