.has-tip {
  background-color: $light-gray;
  border: solid 1px $light-gray;
  border-radius: 50%;
  position: absolute;
  top: 50px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  color: $dark-gray;
  font-family: $header-font-family;
  font-style: italic;
  line-height: 1;
}