.background-video {
  position: absolute;
  top: rem-calc(-150px);
  left: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  
  @include breakpoint (medium down) {
    transform: scale(1.34);
  }
}

@supports(object-fit: cover) {
  .background-video {
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}