.footer {
  background-color: $dark-gray;
  color: $white;

  p {
    margin: 0;
  }

  a {
    color: $white;
  }

  &__pre {
    background-color: lighten($dark-gray, 15%);
    padding: rem-calc(34 0);

    @include breakpoint(large) {
      padding: rem-calc(100px) 0 rem-calc(80px);
    }

    img {
      margin-bottom: rem-calc(34);

      @include breakpoint(small only) {
        margin-bottom: rem-calc(17);
        width: 250px;
      }
    }

  }

  &__main {
    padding: rem-calc(30 0);

    @include breakpoint(large) {
      padding: rem-calc(60 17);
    }

    @include breakpoint(xlarge) {
      padding: rem-calc(60 0);
    }
  }

  &__nav-container {
    margin: rem-calc(25.5 0);
    border-bottom: solid 1px $white;
    padding-bottom: rem-calc(30);
    font-family: $heading-font-family;

    @include breakpoint(large) {
      margin-bottom: rem-calc(42.5);
      padding-bottom: rem-calc(42.5);
    }

    .menu {
      justify-content: center;

      @include breakpoint(large) {
        justify-content: flex-start;
      }
    }

    .menu-item {
      a {
        text-transform: uppercase;
        font-size: rem-calc(17);
      }
    }
  }

  &__details {    
    &--logos {
      padding-left: 0 !important; // Important tag to overwrite Foundation
    }

    &--logos-wrapper {
      justify-content: center;

      @include breakpoint(large) {
        justify-content: flex-start;
      }
    }

    &--address {
      padding-top: rem-calc(17);
      padding-right: 0 !important; // Important tag to overwrite Foundation
      padding-left: 0 !important; // Important tag to overwrite Foundation
      text-align: center;

      @include breakpoint(large) {
        padding-top: 0;
        text-align: right;
      }
    }
  }
  
}