.midlevel-page, .single-content {
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include breakpoint(large) {
      padding-top: rem-calc(60px);
      padding-bottom: rem-calc(43px);
    }
  }

.related-posts {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;

  @include breakpoint(large) {
    margin-bottom: rem-calc(80px);
    padding-top: rem-calc(60px);
    padding-bottom: rem-calc(60px);
  }

  h2 {
    @include breakpoint(large) {
      margin-bottom: rem-calc(40px);
    }
  }
}

.archive-grid {
  position: relative;
  justify-content: center;

  @include breakpoint(medium) {
    justify-content: flex-start;
  }
}

// Remove margin from last child within the content article
.content {
  & > :last-child {
    margin-bottom: 0;
  }
}